{% block nav %}
<div class="default">
    <h4>nav</h4>
    <div>

        <a href="{{base.url}}">Home</a>
        | <a href="{{base.url}}teste/">Teste</a>
        | <a href="{{base.url}}restrito/">Restrito/index</a>
        | <a href="{{base.url}}restrito/page2">Restrito/page2</a>
        | <a href="{{base.url}}admin/init">admin/init</a>
        | <a href="{{base.url}}admin/login">admin/login</a>
        | <a href="{{base.url}}api/ping">api/ping</a>
        | <a href="{{base.url}}api/plugins">api/plugins</a>

    </div>
    <hr>
    <div>

        <a href="{{base.url}}subpagina">subpagina</a>
        | <a href="{{base.url}}subpagina/index">subpagina/index</a>
        | <a href="{{base.url}}subpagina/pagina_2">subpagina/pagina_2</a>
        | <a href="{{base.url}}subpagina/login">subpagina/login</a>

    </div>
</div>
{% endblock %}