

<form action="" method="POST" enctype="multipart/form-data">
  <input name="f-formToken" type="text" value="{{params.formToken}}" hidden>
  <div class="card collapsed-card">
    <div class="card-header">
      <h3 class="card-title m-1">Login - Senha</h3>
      <div class="card-tools m-0">
        <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html"
          data-source-selector="#card-refresh-content" data-load-on-init="false">
          <i class="fas fa-sync-alt"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="maximize">
          <i class="fas fa-expand"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-plus"></i>
        </button>
      </div>

    </div>

    <div class="card-body p-0">
      <!-- Card Corpo -->
      <div class="container-fluid">
        <div class="row mt-3">
          


          <!-- Matricula -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Matricula</span>
                </div>
                <input type="text" class="form-control" placeholder="" value="{{params.userInfo.matricula}}" disabled>
              </div>
            </div>
          </div>

          <!-- ID Usuário -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">ID Usuário</span>
                </div>
                <input type="text" class="form-control" placeholder="" value="{{params.userInfo.idUser}}" disabled>
              </div>
            </div>
          </div>

          <!-- Status -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Status</span>
                </div>
                <input type="text" class="form-control" value="{{params.userInfo.idStatus}}" disabled>
              </div>
            </div>
          </div>

          <!-- Ativo -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Ativo</span>
                </div>
                <input type="text" class="form-control" placeholder="" value="{{params.userInfo.active}}" disabled>
              </div>
            </div>
          </div>

          <!-- Nome Completo -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nome Completo</span>
                </div>
                <input type="text" class="form-control" value="{{params.userInfo.fullName}}" disabled>
              </div>
            </div>
          </div>

          <!-- E-Mail -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">E-Mail</span>
                </div>
                <input id="email" type="text" name="email" class="form-control" value="{{params.userInfo.email}}"
                  disabled>
              </div>
            </div>
          </div>



          <!-- UserName -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">User</span>
                </div>
                <input type="text" class="form-control" value="{{params.userInfo.userName}}" disabled>
              </div>
            </div>
          </div>

          <!-- CPF -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">CPF</span>
                </div>
                <input type="text" class="form-control mask-cpf" placeholder="" value="{{params.userInfo.cpf}}"
                  disabled>
              </div>
            </div>
          </div>

          <!-- Telefone -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Telefone</span>
                </div>
                <input type="text" class="form-control mask-tel" placeholder="" value="{{params.userInfo.telefone}}"
                  disabled>
              </div>
            </div>
          </div>

          <!-- Data Expiração -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Expiração</span>
                </div>
                <input type="text" class="form-control mask-data" placeholder=""
                  value="{{params.userInfo.expirationDays}}" disabled>
              </div>
            </div>
          </div>

          <!-- Nova Senha -->
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nova Senha</span>
                </div>
                <input type="password" class="form-control" placeholder="">
              </div>
            </div>
          </div>

          <!-- Nova Senha -->
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Confirma Senha</span>
                </div>
                <input type="password" name="nova_senha" class="form-control" placeholder="">
              </div>
            </div>
          </div>



        </div>
      </div>
      <!-- /Card Corpo -->


      <!-- Card Rodapé -->
      <div class="card-footer">
        <div class="row">
          <div class="col-12 text-right">
            <button type="submit" name="atualizar" value="login" class="btn btn-primary">Alterar Senha</button>
          </div>
        </div>
      </div>
      <!-- /Card Rodapé -->
    </div>

  </div>
</form>



















<form action="" method="POST" enctype="multipart/form-data">
  <input name="f-formToken" type="text" value="{{params.formToken}}" hidden>
  <!-- Card -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title m-1">Meus Dados</h3>
      <div class="card-tools m-0">
        <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html"
          data-source-selector="#card-refresh-content" data-load-on-init="false">
          <i class="fas fa-sync-alt"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="maximize">
          <i class="fas fa-expand"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>

    </div>

    <div class="card-body p-0">
      <!-- Card Corpo -->
      <div class="container-fluid">
        <div class="row mt-3">
          <!-- Nome Completo -->
          <div class="col-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nome Completo</span>
                </div>
                <input id="f-nome" name="f-nome"  type="text" class="form-control" placeholder="" value="{{params.userInfo.fullName}}">
              </div>
            </div>
          </div>


          <!-- E-Mail -->
          <div class="col-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">E-Mail</span>
                </div>
                <input id="f-email" name="f-email" type="text" class="form-control mask-email" placeholder="E-mail"
                  value="{{params.userInfo.email}}">
              </div>
            </div>
          </div>


          <!-- Data nascimento -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Data Nascimento</span>
                </div>
                <input id="f-dtNascimento" name="f-dtNascimento" type="date" class="form-control" value="{{params.userInfo.dataNascimento}}">
              </div>
            </div>
          </div>


          <!-- CPF -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">CPF</span>
                </div>
                <input id="f-cpf" name="f-cpf" type="text" class="form-control mask-cpf" inputmode="numeric"
                  value="{{params.userInfo.cpf}}">
              </div>
            </div>
          </div>


          <!-- Telefone -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Telefone</span>
                </div>
                <input id="f-telefone" name="f-telefone" type="text" class="form-control mask-tel" placeholder=""
                  value="{{params.userInfo.telefone}}">
              </div>
            </div>
          </div>


          <!-- Foto Perfil -->
          <div class="col-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Foto Perfil</span>
                </div>
                <div class="custom-file">
                  <input id="f-fotoPerfil" name="f-fotoPerfil" type="file" class="custom-file-input">
                  <label class="custom-file-label" for="f-fotoPerfil">Selecione a foto</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <style>
          .custom-file-input:lang(pt-br)~.custom-file-label::after {
            content: "Carregar";
          }
        </style>
      </div>
      <!-- /Card Corpo -->


      <!-- Card Rodapé -->
      <div class="card-footer">
        <div class="row">
          <div class="col-12 text-right">
            <button type="submit" name="atualizar" value="meusdados" class="btn btn-primary">Atualizar</button>
          </div>
        </div>
      </div>
      <!-- /Card Rodapé -->
    </div>

  </div>
  <!-- /Card -->
</form>