
# Rotas
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]


# Bloquear roubo de imagens TESTAR
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?localhost/ [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]
#RewriteRule .*\.(jpg|jpeg|png|gif)$ m/assets/img/no_image.jpeg [L]



# Não listar diretórios.
Options -Indexes


# Protege o arquivo .htaccess.
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>


# Força o uso de UTF-8
<FilesMatch ".(htm|html|css|js)$">
AddDefaultCharset UTF-8
</FilesMatch>


# Páginas de erro.
ErrorDocument 400 /base_php/v/pages/404.php
ErrorDocument 401 /base_php/v/pages/404.php
ErrorDocument 403 /base_php/v/pages/404.php
ErrorDocument 404 /base_php/v/pages/404.php
ErrorDocument 500 /base_php/v/pages/404.php


# Força leitura https (DESCOMENTAR)
#RewriteEngine On
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}


# Bloquear acessos de um ip
#allow from all
#deny from 200.143.89.154
