{% block corpo %}

{# A view é a última "else"



DESENHA O POST *********************************************************************************************************
#}
{% if attr[0] == 'post' and permissions['post'] %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">Post</p>
    </div>
</div>

{# DESENHA O PUT
********************************************************************************************************* #}
{% elseif attr[0] == 'put' and permissions['put'] %}
{{obj_editar_banner | raw}}

{# DESENHA O GET
********************************************************************************************************* #}
{% elseif attr[0] == 'get' and permissions['get'] %}

{{lista|raw}}


{# DESENHA O DELETE
********************************************************************************************************* #}
{% elseif attr[0] == 'delete' and permissions['delete'] %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">Delete</p>
    </div>
</div>


{# DESENHA O TEST
********************************************************************************************************* #}
{% elseif attr[0] == 'test' %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">TEST</p>
    </div>
</div>

{# DESENHA A VIEW
********************************************************************************************************* #}
{% elseif permissions['menu'] %}

<div class="row">
    <section class="col-12 ui-sortable">
        <div class="card direct-chat" style="position: relative; left: 0; top: 0">
            <div class="card-header ui-sortable-handle">
                <h3 class="card-title">Adiconar Banner</h3>
                <div class="card-tools">

                </div>
            </div>
        </div>
        <form name="novoBanner" method="post" action="" enctype="multipart/form-data">
            <div class="card-body">
                <div class="">
                    <div class="row mt-3">


                        <div class="col-s12 col-sm-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Título</span>
                                    </div>
                                    <input type="text" class="form-control" name="titulo" placeholder="Título do Banner" required>
                                </div>
                            </div>
                        </div>


                        <div class="col-s12 col-sm-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Link</span>
                                    </div>
                                    <input type="url" class="form-control" name="link" placeholder="Link Relacionado ao Banner">
                                </div>
                            </div>
                        </div>


                        <div class="file-field input-field col-s12 col-sm-7 col-lg-7">
                            <div class="form-group">
                                <div class="">
                                    <div class="input-group-prepend">
                                        <div class="custom-file">
                                            <input type="file" accept="image/*" class="custom-file-input" name="imagemBanner" id="imagemBanner" style="margin: 0">
                                            <label class="custom-file-label" type="file" style="margin: 0; text-align: center">Carregar Imagem</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <!--<div class="col-s12 col-sm-7 col-lg-7">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Imagem do Banner</span>
                                    </div>
                                    <input type="file" class="form-control" name="imagemBanner" placeholder="Imagem Banner" required>
                                </div>
                            </div>
                        </div>-->


                        <div class="col-s12 col-sm-2 col-lg-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Ativar?</span>
                                    </div>
                                    <input type="checkbox" id="idStatus" name="idStatus" style="width: 37px; height: 37px">

                                </div>
                            </div>
                        </div>


                        <div class="card-footer" style="background-color: white">
                            <div class="row">
                                <div class="col-12 text-right">
                                    <button class="btn btn-primary" name="add" value="ok">Adicionar</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </section>
</div>


{% else %}
<div class="row">
    <div class="col-xs-12">
        <h3>Sem permissão para acessar esta página.</h3>
        <p>Contate o administrador.</p>
    </div>
</div>

<style>
    .form-group{
        margin-bottom: 0.2em;
        color: #666;
        display: block;
    }
    .custom-file-input:lang(pt-br)~.custom-file-label::after {
        content: "Carregar";
    }
</style>
{%endif%}
{% endblock %}










