{% block corpo %}

{# A view é a última "else"



DESENHA O POST *********************************************************************************************************
#}
{% if attr[0] == 'post' %}
<div class="row">
    <!-- CARD -->
    <section class="col-sm-6 ui-sortable">
        <div class="card direct-chat" style="position: relative; left: 0px; top: 0px;">


            <!-- Card Título -->
            <div class="card-header ui-sortable-handle">
                <h3 class="card-title">
                    TÍTULO
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" style="display: contents;">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /Card Título -->



            <div class="card-body">
                <!-- Card Corpo -->
                <div class="container-fluid">
                    <div class="row m-1">

                        <h4>CONTEÚDO</h4>

                    </div>
                </div>
                <!-- /Card Corpo -->


                <!-- Card Rodapé -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 text-right">
                            <H4>RODAPÉ</H4>
                        </div>
                    </div>
                </div>
                <!-- /Card Rodapé -->
            </div>
    </section>
    <!-- / CARD -->
</div>

{# DESENHA O PUT
********************************************************************************************************* #}
{% elseif attr[0] == 'put' %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">Put</p>
    </div>
</div>

{# DESENHA O GET
********************************************************************************************************* #}
{% elseif attr[0] == 'get' %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">Get</p>
    </div>
</div>


{# DESENHA O DELETE
********************************************************************************************************* #}
{% elseif attr[0] == 'delete' %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">Delete</p>
    </div>
</div>


{# DESENHA O TEST
********************************************************************************************************* #}
{% elseif attr[0] == 'test' %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">TEST</p>
    </div>
</div>

{# DESENHA A VIEW
********************************************************************************************************* #}
{% else %}


<div class="row">
    <div class="col-12 my-3">
        <h4>Refatoração BD</h4>
        <p>Para limpar o banco de dados, realize a ação de [1-APAGAR TABELAS] e depois [2-CRIAR TABELAS].</p>
        <a class="btn btn-info" onclick="teste('BdTablesDelete')">1-APAGAR TABELAS</a>
        <a class="btn btn-info" onclick="teste('BdTablesCreate')">2-CRIAR TABELAS</a>
    </div>
    <div class="col-12 my-3">
        <h4>Inserção Logins</h4>
        <p>Após limpar a pase de dados, é necessário criar os logins para poder logar</p>
        <p>Atenção: Logo após refatorar a base de dados, insira os logins.</p>
        <a class="btn btn-info" onclick="teste('BdLoginInsert')">Add Logins</a>
    </div>
    <div class="col-12 my-3">
        <h4>Inserção de Status</h4>
        <p>Após limpar a pase de dados, é necessário inserir os status padrão.</p>
        <p>Atenção: Logo após refatorar a base de dados, insira os status.</p>
        <a class="btn btn-info" onclick="teste('BdStatusInsert')">Add Status</a>
    </div>
    <div class="col-12 my-3">
        <h4>Inserção de Permissões</h4>
        <p>Após limpar a pase de dados, é necessário inserir as permissões de administradores.</p>
        <p>Atenção: Logo após refatorar a base de dados, insira as permissões.</p>
        <a class="btn btn-info" onclick="teste('BdPermissionsInsert')">Add Permissões</a>
    </div>
</div>


<div class="row">
    <div class="col-12 my-3">
        <p>Teste para upload de imagens.</p>
        <form action="" method="POST" enctype="multipart/form-data">
            <input type="text" name="texto" value="test">
            <input type="file" name="file" id="file"
                value="http://sitecoopama-bit.local/m/assets/img/favicon_coopama.png">
            <button type="submit">Enviar teste</button>
        </form>
    </div>
</div>


<script>

    function teste(p) {
        $.ajax({
            url: '{{URL_RAIZ}}admin/configuracoes/api/' + p,
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                // $.notify({
                //     // options
                //     icon: 'far fa-dot-circle',
                //     title: '<b>Notificação</b>',
                //     message: 'Resposta: ' + data.r,
                //     url: 'https://github.com/mouse0270/bootstrap-notify',
                //     target: '_blank',
                // }, {
                //     type: "info",
                //     allow_dismiss: true,
                //     delay: 500,
                //     timer: 1000,
                // });
                Swal.fire('Sucesso: ', data.r, 'success');
            },
            error: function (data) {
                // $.notify({
                //     // options
                //     icon: 'far fa-dot-circle',
                //     title: '<b>Notificação</b>',
                //     message: 'Resposta: ' + data.r,
                //     url: 'https://github.com/mouse0270/bootstrap-notify',
                //     target: '_blank',
                // }, {
                //     type: "info",
                //     allow_dismiss: true,
                //     delay: 500,
                //     timer: 1000,
                // });
                Swal.fire('Erro: ', data.r, 'error');
            },
        });
    }

    // window.onload = function () {
    //     Swal.fire('hull tche tche', '', 'success');
    //     $.notify({ message: 'teste' });

    // };



</script>

{%endif%}
{% endblock %}