{% block corpo %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 my-5">
      <p>Conteúdo INDEX</p>
      <a href="#" class="btn btn-info" onclick="teste('BdTablesCreate')">CRIAR TABELAS</a>
      <a href="#" class="btn btn-info" onclick="teste('BdTablesDelete')">APAGAR TABELAS</a>
      <br><br>
      <a href="#" class="btn btn-info" onclick="teste('BdPagesInsert')">Pages Inserts</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 my-5">
      Rest: {{rest}}.

    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="m-0">Resposta:</p>
      <div id="r"></div>
    </div>
  </div>
</div>



<script>

  function teste(p) {
    $.ajax({
      url: '{{URL_RAIZ}}admin/api/' + p,
      type: 'post',
      dataType: 'json',
      contentType: 'application/json',
      success: function (data) {
        console.log(data.r);
        $('#r').html(data.r);
      },
      error: function (data) {
        $('#r').html(data.r);
      },
    });
  }

</script>

{% endblock %}




{% block get %}
<h1>Ver como utilizar blocos.</h1>

{% endblock %}