{% block corpo %}

{# A view é a última "else"



DESENHA O POST *********************************************************************************************************
#}
{% if attr[0] == 'post' and permissions['post'] %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">Post</p>
    </div>
</div>

{# DESENHA O PUT
********************************************************************************************************* #}
{% elseif attr[0] == 'put' and permissions['put'] %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">Put</p>
    </div>
</div>

{# DESENHA O GET
********************************************************************************************************* #}
{% elseif attr[0] == 'get' and permissions['get'] %}

{{datatable | raw}}


{# DESENHA O DELETE
********************************************************************************************************* #}
{% elseif attr[0] == 'delete' and permissions['delete'] %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">Delete</p>
    </div>
</div>


{# DESENHA O TEST
********************************************************************************************************* #}
{% elseif attr[0] == 'test' %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">TEST</p>
    </div>
</div>

{# DESENHA A VIEW
********************************************************************************************************* #}
{% elseif permissions['menu'] %}





<div class="row">
    <!-- CARD -->
    <section class="col-12 ui-sortable">
        <form action="." method="POST">
            <input name="f-formToken" type="text" value="{{formToken}}" hidden>
            <div class="card direct-chat" style="position: relative; left: 0px; top: 0px;">


                <!-- Card Título -->
                <div class="card-header ui-sortable-handle">
                    <h3 class="card-title">
                        Mídias
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                            style="display: contents;">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /Card Título -->



                <div class="card-body">
                    <!-- Card Corpo -->
                    <div class="container-fluid">
                        <div class="row" id="midias">
                        </div>
                    </div>
                    <!-- /Card Corpo -->
                </div>
        </form>
    </section>
    <!-- / CARD -->
</div>



<script>

    posicaoMidia = 0;
    idMidia = [1, 2, 3, 4, 5, 6, 7, 8];

    // Inicia após carregar a página.
    $(document).ready(function () {
        buscaMidia(posicaoMidia, idMidia);
    });

    // Busca Mídia.
    function buscaMidia(posicaoMidia, idMidia) {

        // Monta a url de consulta.
        url = '{{URL_RAIZ}}admin/midias/api/' + idMidia[posicaoMidia];
        console.log(url);

        continua = true;

        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: { 'teste': 'valor' },
            contentType: 'application/json',
            error: function (data) {
                console.log("Falhou! Id: " + idMidia[posicaoMidia]);
                $.notify({ message: "Falhou! Id: " + idMidia[posicaoMidia] });
                continua = false;
            },
            success: function (data) {
                console.log(data.r);
                //$.notify({ message: 'Resposta: Sucesso. ' + data.r });

                $('#midias').append(data.r);
                continua = data.r;
            },
            complete: function (data) {
                console.log("Completo: " + idMidia[posicaoMidia]);
                if (posicaoMidia++ < 10 && continua) {
                    buscaMidia(posicaoMidia++, idMidia);
                }
                //$.notify({ message: 'Resposta: Completou. ' + data.r });
            }
        });
    };

</script>


{% else %}
<div class="row">
    <div class="col-xs-12">
        <h3>Sem permissão para acessar esta página.</h3>
        <p>Contate o administrador.</p>
    </div>
</div>
{%endif%}
{% endblock %}