{% block corpo %}
{# A view é a última "else"
DESENHA O POST 
********************************************************************************************************* #}
{% if global.attr[0] == 'post' and global.permissions.post %}
<div class="row">
    <div class="col-12">
        <p class="m-0">{{page.rest|raw}}</p>
    </div>
</div>

{# DESENHA O PUT
********************************************************************************************************* #}
{% elseif global.attr[0] == 'put' and global.permissions.put %}
<div class="row">
    <div class="col-12">
        <p class="m-0">{{page.rest|raw}}</p>
    </div>
</div>

{# DESENHA O GET
********************************************************************************************************* #}
{% elseif global.attr[0] == 'get' and global.permissions.get %}


{{page.datatable | raw}}


{# DESENHA O GETFULL
********************************************************************************************************* #}
{% elseif global.attr[0] == 'getfull' and global.permissions.getFull %}

<div class="row">
    <div class="col-12">
        <p class="m-0">{{page.rest|raw}}</p>
    </div>
</div>


{# DESENHA O DELETE
********************************************************************************************************* #}
{% elseif global.attr[0] == 'delete' and global.permissions.delete %}
<div class="row">
    <div class="col-12">
        <p class="m-0">{{page.rest|raw}}</p>
    </div>
</div>


{# DESENHA O TEST
********************************************************************************************************* #}
{% elseif global.attr[0] == 'test' %}
<div class="row">
    <div class="col-12">
        <p class="m-0">{{page.rest|raw}}</p>
    </div>
</div>

{# DESENHA A VIEW
********************************************************************************************************* #}
{% elseif global.permissions.index %}



<div class="row">
    <div class="col-12">
        <div class="m-3 p-3" style="background-color: #bb3;">MODELO CORPO</div>
        <p>{{global.attr[0]}}</p>
    </div>
</div>


{% else %}
<div class="row">
    <div class="col-12">
        <h3>Sem permissão para acessar esta página.</h3>
        <p>Contate o administrador.</p>
    </div>
</div>
{%endif%}
{% endblock %}