{% block corpo %}

{# DESENHA A VIEW ORIGINAL
********************************************************************************************************* #}
<!--{% if attr[0] == '' %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="m-0">Conteúdo da página.</p>
            
        </div>
    </div>
</div>
{%endif%} -->

{# DESENHA A VIEW DE TESTE
********************************************************************************************************* #}
{% if attr[0] == '' %}
<section class="col-12 ui-sortable">
    <div class="card direct-chat" style="position: relative; left: 0; top: 0">
        <div class="">
            <div class="col-sm-12">
                <div class="card ui-sortable-handle">
                    <div class="card-header ui-sortable-handle">
                        <h3 class="card-title" style="width: 100%">Crie uma nova notícia</h3>
                    </div>
                        <div class="card-body ui-sortable-handle">
                        <br style="clear: both">
                            <form name="novaNoticia" action="" id="novaNoticia" method="post" enctype="multipart/form-data" style="text-align: center">
                                <input type="hidden" name="acao" id="acao" value="novaNoticia">
                                <div class="form-row">
                                    <div class="form-group col s12 l6">
                                        <label for="titulo">Titulo</label>
                                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo da Notícia" required>
                                    </div>
                                    <div class="form-group col s12 l6">
                                        <label for="previa">Prévia</label>
                                        <input type="text" class="form-control" id="previa" name="previa" placeholder="Prévia da Notícia" required>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="texto">Texto</label>
                                        <textarea class="form-control" id="texto" name="texto" placeholder="Texto da notícia" ></textarea>
                                    </div>
                                    <!--<div class="form-row">-->
                                    <div class="file-field input-field col-sm-5">
                                        <label for="imagemDestaque" >Imagem Destaque</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" accept="image/*" class="custom-file-input" name="imagemDestaque" id="imagemDestaque" style="margin: 0">
                                                    <label class="custom-file-label" type="file" style="margin: 0">Carregar Imagem</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="dataPostagem">Data Postagem</label>
                                        <input type="date" class="form-control" name="dataPostagem" id="dataPostagem">
                                    </div>

                                    <div class="form-group col-sm-2">
                                        <label for="fixaTopo">
                                            <span>Topo?</span>
                                        </label><br>
                                        <input type="checkbox" id="fixaTopo" name="fixaTopo" style="padding-top: 30px" />
                                    </div>

                                    <div class="form-group col-sm-1">
                                        <label for="idStatus">
                                            <span>Ativar?</span>
                                        </label><br>
                                        <input type="checkbox" id="idStatus" name="idStatus" style="padding-top: 30px" />
                                    </div>

                                    <div class="form-group col-sm-3" style="text-align: center; margin-top: 30px; padding-top: 50px; size: 30px">
                                        <button type="submit" id="btnSubmit" class="btn btn-group-lg" name="adicionar" value="ok" style="color: white; background-color: #0f9d58">Enviar</button>
                                    </div>
                                    <!--</div>-->
                                </div>
                            </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{PATH_MODEL_ADMIN}}vendor/ckeditor/build/ckeditor.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#texto').summernote()
        });
        ClassicEditor
        .create( document.querySelector( '' ), {

            toolbar: {
                items: [
                    'heading',
                    '|',
                    'bold',
                    'italic',
                    'link',
                    'bulletedList',
                    'numberedList',
                    '|',
                    'outdent',
                    'indent',
                    '|',
                    'imageUpload',
                    'blockQuote',
                    'insertTable',
                    'mediaEmbed',
                    'undo',
                    'redo'
                ]
            },
            language: 'pt-br',
            image: {
                toolbar: [
                    'imageTextAlternative',
                    'imageStyle:full',
                    'imageStyle:side'
                ]
            },
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells'
                ]
            },
            licenseKey: '',


        } )
        .then( editor => {
            window.editor = editor;








        } )
        .catch( error => {
            console.error( 'Oops, something went wrong!' );
            console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
            console.warn( 'Build id: yjoge4qp1foh-nohdljl880ze' );
            console.error( error );
        } );
    </script>
</section>
{%endif%}

<style>

    .form-row{
        margin-bottom: 1em;
    }
    .form-group{
        margin-bottom: 0.2em;
        color: #666;
        display: block;
    }

    .form-control{
        padding: 0.2em;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        display: block;
    }
    .ck.ck-editor__editable_inline>:last-child {
        min-height: 200px;
    }
    input[type=checkbox]{
        -webkit-transform: scale(2);
        transform: scale(2);
        padding: 10px;
    }

    .form-group[type="text"],
    .form-group[type="date"],
    .form-group select,
    .form-group textarea{
        padding: 0.2em;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        display: block;
    }

    .form-group select option{
        padding-right: 1em;
    }
    .file-field[type="file"]{
        padding: 0.2em;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        /*display: block;*/
    }

    input{
        border: coral;
    }

    card{
        position: center;
    }

    .card-header{
        background-color: #aababa;
        color: white;
    }

    .content-header{
        height: 100px;
    }
    label{

    }

    .row{
        height: 100%;
    }

    form {
        height: 500px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .form-row{
        font-weight: bold;
    }

    card-header{
        grid-template-rows: 120px 1fr 60px;
    }

    label{
        padding-left: 5px;
        padding-right: 5px;
        margin: 30px;
        border: none;
    }

    button{
        color: #fff;
        background-color: #0f9d58;
        padding-bottom: 50px;
        font-size: 1.5em;
        margin-bottom: 1em;
        padding: 0.2em 0.6em;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    button:hover{
        background: #fb0;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: none;
    }

    form > label{
        font-size: 1.0rem;
        /*padding-right: 55px;*/
    }
    .custom-file-input:lang(pt-br)~.custom-file-label::after {
        content: "Carregar";
    }

</style>


{# DESENHA O POST
********************************************************************************************************* #}
{% if attr[0] == 'post' %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="m-0">Post</p>
        </div>
    </div>
</div>
{%endif%}


{# DESENHA O PUT
********************************************************************************************************* #}
{% if attr[0] == 'put' %}
<div></div>
{{obj_editar_noticia | raw}}
{%endif%}


{# DESENHA O GET
********************************************************************************************************* #}
{% if attr[0] == 'get' %}

      {{p_lista|raw}}

{%endif%}


{# DESENHA O DELETE
********************************************************************************************************* #}
{% if attr[0] == 'delete' %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="m-0">Delete</p>
        </div>
    </div>
</div>
{%endif%}


{# DESENHA O TEST
********************************************************************************************************* #}
{% if attr[0] == 'test' %}

    <div class="row">
        <div class="col-12">

            <div>
                {{p_lista|raw}}
            </div>

        </div>
    </div>

{%endif%}


{% endblock %}
