{% block corpo %}

{# A view é a última "else"



DESENHA O POST *********************************************************************************************************
#}
{% if attr[0] == 'post' %}

{{obj_post|raw}}


{# DESENHA O PUT
********************************************************************************************************* #}
{% elseif attr[0] == 'put' %}

{{content|raw}}

{# DESENHA O GET
********************************************************************************************************* #}
{% elseif attr[0] == 'get' %}

{{datatable | raw}}


{# DESENHA O DELETE
********************************************************************************************************* #}
{% elseif attr[0] == 'delete' %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">Delete</p>
    </div>
</div>


{# DESENHA O TEST
********************************************************************************************************* #}
{% elseif attr[0] == 'test' %}
<div class="row">
    <div class="col-xs-12">
        <p class="m-0">url atual: {{url_atual}}</p>
    </div>
</div>

{# DESENHA A VIEW
********************************************************************************************************* #}
{% else %}



<div class="row">
    <div class="col-xs-12">
        <div class="m-3 p-3" style="background-color: #bb3;">Segurança</div>
    </div>
</div>



{%endif%}
{% endblock %}