<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}{% endblock %}
</head>

<body>

  <div id="top">
    {% block top %}{% endblock %}
  </div>


  <div id="header">
    {% block header %}{% endblock %}
  </div>

  <div id="corpo">
    {% block body_pre %}{% endblock %}
    {% block corpo %}{% endblock %}
    {% block body_pos %}{% endblock %}
  </div>

  <div id="footer">
    {% block footer %}{% endblock %}
  </div>

  <div id="bottom">
    {% block bottom %}{% endblock %}
  </div>

</body>

</html>