{% block head %}

<!-- TÍTULO DA PÁGINA
******************************************************************************************************** -->
<title>
    {{title}}
</title>

<!-- LINKS PARAMETERS
******************************************************************************************************** -->
<link rel="apple-touch-icon" sizes="76x76" href="{{apple-touch-icon}}">
<link rel="icon" type="image/png" href="{{favicon}}">
<link rel="shortcut icon" href="{{favicon}}">




<!-- META PARAMETERS 
******************************************************************************************************** -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

<!-- Alterar esses meta dados pelo controller e geral -->
<!-- Social tags -->
<meta name="keywords" content="{{keywords}}">
<meta name="description" content="{{description}}">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{name}}">
<meta itemprop="description" content="{{description}}">
<meta itemprop="image" content="{{logo}}">


<!-- Twitter Card data -->
<meta name="twitter:card" content="{{twittercard}}">
<meta name="twitter:site" content="{{twittersite}}">
<meta name="twitter:title" content="{{twittertitle}}">
<meta name="twitter:description" content="{{twitterdescription}}">
<meta name="twitter:creator" content="{{twittercreator}}">
<meta name="twitter:image" content="{{logo}}">

<!-- Open Graph data -->
<meta property="fb:app_id" content="{{fbapp_id}}">
<meta property="og:title" content="{{fbtitle}}">
<meta property="og:type" content="{{fbtype}}">
<meta property="og:url" content="{{fburl}}">
<meta property="og:image" content="{{logo}}">
<meta property="og:description" content="{{fbdescription}}">
<meta property="og:site_name" content="{{fbsite_name}}">

<!-- Canonical SEO -->
<link rel="canonical" href="{{logo}}">




<!-- FONTS AND ICONS 
******************************************************************************************************** -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">




<!-- CSS FILES 
******************************************************************************************************** -->
<link href="{{PATH_MODEL_CSS}}bootstrap.min.css" rel="stylesheet" />
<link defer href="{{PATH_MODEL_CSS}}coopama.css" rel="stylesheet" />




<!-- JAVASCRIPT FILES
******************************************************************************************************** -->
<script src="{{PATH_MODEL_JS}}jquery.min.js"></script> <!-- Plugin de notificação -->
<script defer src="{{PATH_MODEL_JS}}popper.min.js"></script> <!-- Plugin de tolltip -->
<script defer src="{{PATH_MODEL_JS}}bootstrap.min.js"></script> <!-- Plugin funções gráficas -->
<script defer src="{{PATH_MODEL_JS}}chartjs.min.js"></script> <!-- Plugin de gráficos -->
<script defer src="{{PATH_MODEL_JS}}bootstrap-notify.js"></script> <!-- Plugin de notificação -->
<script defer src="{{PATH_MODEL_JS}}coopama.js"></script> <!-- Personaliação COOPAMA -->



  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{PATH_MODEL_ADMIN}}plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{{PATH_MODEL_ADMIN}}plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{PATH_MODEL_ADMIN}}plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{{PATH_MODEL_ADMIN}}plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{PATH_MODEL_ADMIN}}dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{PATH_MODEL_ADMIN}}plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{PATH_MODEL_ADMIN}}plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="{{PATH_MODEL_ADMIN}}plugins/summernote/summernote-bs4.min.css">




{% endblock %}