
{% if _get.redirect_msg %}
<div class="alert alert-warning" role="alert">
    <b>Mensagem</b>: {{_get.redirect_msg}}
    <br>
    <b>Página</b>: {{_get.redirect_url}}
</div>
{% endif %}
<span></span>
<form action="#" method="post">
    <div class="mb-3">
        <label for="user" class="form-label">Usuário</label>
        <input type="text" class="form-control" id="user" name="user" aria-describedby="userHelp">
        <div id="userHelp" class="form-text">Usuário, email, telefone, cpf, etc.</div>
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Registrar</label>
    </div>
    <input type="hidden" name="redirect_url" value="{{_get.redirect_url}}">
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>