{#
***********************************************************************************
* INDEX
***********************************************************************************
#}
{% block index %}
{{html|raw}}
{% endblock %}


{#
***********************************************************************************
* PUT - PERSONALIZADO
***********************************************************************************
#}
{% block put %}
{{html|raw}}
{% endblock %}


{#
***********************************************************************************
* POST - PERSONALIZADO
***********************************************************************************
#}
{% block post %}
{{html|raw}}
{% endblock %}


{#
***********************************************************************************
* GET - PERSONALIZADO
***********************************************************************************
#}
{% block get %}
{{html|raw}}
{% endblock %}


{#
***********************************************************************************
* GETFULL - PERSONALIZADO
***********************************************************************************
#}
{% block getfull %}
{{html|raw}}
{% endblock %}


{#
***********************************************************************************
* DELETE - PERSONALIZADO
***********************************************************************************
#}
{% block delete %}
{{html|raw}}
{% endblock %}


{#
***********************************************************************************
* TEST - PERSONALIZADO
***********************************************************************************
#}
{% block test %}
{{html|raw}}
{% endblock %}


{#
***********************************************************************************
* DASHBOARD - PERSONALIZADO
***********************************************************************************
#}
{% block dashboard %}
{{html|raw}}
{% endblock %}


{#
***********************************************************************************
* foo_personalizada - PERSONALIZADO
***********************************************************************************
#}
{% block foo_personalizada %}
{{html|raw}}
{% endblock %}