{% block end %}
<div class="default">
    <h4>end</h4>
</div>



{# Bootstrap #}
<script defer src="{{base.dir_relative}}template/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
{# SweetAlert #}
<script defer src="{{base.dir_relative}}template/assets/libs/sweetalert2/sweetalert2.min.js"></script>
{# Personalizado #}
<script defer src="{{base.dir_relative}}template/assets/js/default-min.js"></script>


<!-- CÓDIGOS JAVASCRIPTS DA PÁGINA -->
{% for item in scripts.libs %}
<script defer src="{{base.dir_relative}}template/assets/libs/{{item}}"></script>
{% endfor %}
{% for item in scripts.js %}
<script defer src="{{base.dir_relative}}template/assets/js/{{item}}"></script>
{% endfor %}

{% for item in plugins %}
    <h1>
        {{item}}
    </h1>
{% endfor %}

<!-- Scripts abertos da página -->
<script>
    {{info.scriptBody|raw}}
    
    // Código que chama os plugins após 500 milissegundos.
    $(window).on("load", function(){
        // página totalmente carregada (DOM, imagens etc.)
        setTimeout(function() {

            // Plugins da página.
            plugins = ['{{ plugins|join("','")|raw }}'];

            // Carrega plugins de acordo com sequência que foi cadastrado.
            if (plugins[0] != '') {
                plugins.forEach(plugin => {
                    getPlugin(plugin);
                });
            }
        }, 500);
    });

    // Função que carrega plugin async.
    async function getPlugin(plugin) {
        console.log('Plugin: ' + plugin);
        $.ajax({
            url: '{{base.dir_relative}}api/plugins/get/' + plugin,
            dataType: 'script',
            async: true
        });
    }
</script>

{% endblock %}