<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Refresh" content="1">
  <title>teste</title>
</head>
<body>
  <hr>
  <p>Recarrega automático (2s). {{nome}}</p>
  <ul>
    <li><a href="http://localhost/base_php/">base_php/</a></li>
    <li><a href="http://localhost/base_php/a">base_php/a</a></li>
    <li><a href="http://localhost/base_php/a/">base_php/a/</a></li>
    <li><a href="http://localhost/base_php/a/b">base_php/a/b</a></li>
    <li><a href="http://localhost/base_php/a/b/">base_php/a/b/</a></li>
    <li><a href="http://localhost/base_php/a/b/c">base_php/a/b/c</a></li>
    <li><a href="http://localhost/base_php/a/b/c/">base_php/a/b/c/</a></li>
  </ul>
</body>
</html>