<div class="card">
    <div class="card-header">

        <!-- TÍTULO -->
        <h3 class="card-title m-1">TIPO DE SEGURANÇA</h3>

        <div class="card-tools m-0">
            <!-- ATUALIZAR -->
            <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html"
                data-source-selector="#card-refresh-content" data-load-on-init="false">
                <i class="fas fa-sync-alt"></i>
            </button>
            <!-- MAXIMIZAR -->
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <!-- COLAPSAR -->
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="card-body p-0">
        <!-- CARD CORPO -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 my-4">
                    

                    <p>Escolha o tipo para quem quer dar permissão.</p>

                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Segurança de usuário.</h3>
                            <p>Selecione o usuário para receber as permissões.</p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        ID Login
                                    </span>
                                </div>
                                <select id="f-user" name="f-user" class="custom-select">
                                    {% for item in params.login %}
                                    <option value="{{ item.id|e }}">{{ item.fullName|e }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <button class="btn btn-sm" onclick="goUsuario()">
                                            <i class="fas fa-external-link-square-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <h3>Segurança de grupo.</h3>
                            <p>Selecione o grupo para receber as permissões</p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        ID Login
                                    </span>
                                </div>
                                <select id="f-grupo" name="f-grupo" class="custom-select">
                                    {% for page in params %}
                                    <option value="{{ page.id|e }}">{{ page.nome|e }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <button class="btn btn-sm" onclick="goGrupo()">
                                            <i class="fas fa-external-link-square-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /CARD CORPO -->
    </div>

</div>


<script>
    function goUsuario() {
        window.location.href = "./usuario/" + $('#f-user').val();
    }

    function goGrupo() {
        window.location.href = "./grupo/" + $('#f-grupo').val();
    }
</script>